.typebox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  padding: 5px;
  position: flex;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.typebox-container:hover {
  background-color: rgb(229, 229, 229);
}
.icon {
  width: 110px;
  height: 90px;
}

.type {
  align-items: center;
  font-size: small;
  padding-bottom: 5px;
  font-weight: 500;
}
