# Environment files
api/.env

# Build / compiled files
api/dist/
api/build/

# Node dependencies
api/node_modules/
app/node_modules/

# OS-specific files
.DS_Store

# IDE/editor files
.vscode/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: coverage (if using test coverage)
coverage/
