.selectSearch-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 35px;
  background-color: white;
  position: relative;
}

hr {
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  border: none;
  background-color: lightgrey;
  height: 40px;
  padding: 0.6px;
}

.submit-button {
  cursor: pointer;
  position: absolute;
  right: 0px;
  transform: translateY(-50%);
  top: 50%;
}

.circle-icon {
  color: #037ffc;
  transition: ease-in-out 0.1s;
}

.circle-icon:hover {
  color: #0060bf;
}

.price-button {
  padding-right: 55px;
}

.reset-filters {
  top: 130%;
  position: absolute;
  width: 100px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  background-color: white;
}

.reset-filters:hover {
  background-color: #f3f3f3;
}
