.horizontal-list {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  padding: 10px 15px;
}

.navbar-container {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.phone-number {
  align-items: center;
  display: flex;
  font-size: small;
}

.phone-number p {
  margin-left: 5px;
}

.submit-listing {
  margin-left: auto;
  font-size: small;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 1px 20px;
  cursor: pointer;
}
