.dropdown-container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.dropdown-button {
  border: none;
  appearance: none;
  background: white;
  padding: 1px 70px 1px 1px;
  cursor: pointer;
  width: 165px;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  overflow-y: auto;
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px grey;
}

.dropdown-item {
  color: black;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  overflow-y: auto;
}
